.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

.bg-green {
  background-color: lightgreen;
}

.rounded {
  border-radius: 25px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.fill-width {
  min-width: 100%;
}

.full-height {
  min-height: 100%;
}

.bold-font {
  font-weight: 500;
}

table#tableResult {
  width: 100%;
  td,
  th {
    text-align: left;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}
