<div class="container mt-5 bg-white rounded full-height">
  <div class="row">
    <div class="no-print">
      <button mat-button color="primary" (click)="isVisible = !isVisible">
        Mostrar/Ocultar Panel
      </button>
    </div>
    <div class="col-12 mt-3 no-print" *ngIf="isVisible">
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-6 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Provincias</mat-label>
              <mat-select formControlName="provincia">
                <mat-option
                  *ngFor="let prov of this.catastroService.provincias"
                  [value]="prov.np"
                >
                  {{ prov.np }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            class="col-6 col-md-4"
            *ngIf="this.catastroService.municipios.length"
          >
            <mat-form-field appearance="fill">
              <mat-label>Municipios</mat-label>
              <mat-select formControlName="municipio">
                <mat-option
                  *ngFor="let muni of this.catastroService.municipios"
                  [value]="muni.nm"
                >
                  {{ muni.nm }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            class="col-6 col-md-4"
            *ngIf="this.catastroService.calles.length"
          >
            <mat-form-field appearance="fill">
              <mat-label>Direcciones</mat-label>
              <mat-select formControlName="calle">
                <mat-option
                  *ngFor="let calle of this.catastroService.calles"
                  [value]="calle.dir.nv"
                >
                  {{ calle.dir.nv }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <h2>Mostrar los siguientes tipos:</h2>
            <form novalidate [formGroup]="formFilter">
              <div class="row">
                <div class="col-6 col-md-2">
                  <mat-checkbox color="primary" formControlName="isVivienda"
                    >Vivienda</mat-checkbox
                  >
                </div>
                <div class="col-6 col-md-2">
                  <mat-checkbox color="primary" formControlName="isResidencial"
                    >Residencial</mat-checkbox
                  >
                </div>
                <div class="col-6 col-md-2">
                  <mat-checkbox color="primary" formControlName="isAlmacen"
                    >Almacen</mat-checkbox
                  >
                </div>
                <div class="col-6 col-md-2">
                  <mat-checkbox color="primary" formControlName="isComercial"
                    >Comercial</mat-checkbox
                  >
                </div>
                <div class="col-6 col-md-2">
                  <mat-checkbox color="primary" formControlName="isAparcamiento"
                    >Aparcamiento</mat-checkbox
                  >
                </div>
              </div>
            </form>
          </div>
          <div class="col-12" *ngIf="this.catastroService.errNumeros">
            NO HAY NÚMEROS DE PARCELA PARA ESTA CALLE
          </div>
          <div class="col-12 mt-3" *ngIf="form.get('numeros')?.value.length">
            <span class="p-1 font-20 bold-font">Números de parcela:</span>
            <ng-container formArrayName="numeros">
              <div class="row">
                <ng-container
                  *ngFor="
                    let numeroGroupControl of getNumerosFormArray.controls;
                    let i = index
                  "
                >
                  <span class="col-1 mt-1" [formGroupName]="i">
                    <mat-checkbox color="primary" formControlName="selected">{{
                      numeroGroupControl.get("pnp")?.value
                    }}</mat-checkbox>
                  </span>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="mt-2">
          <div class="row">
            <div class="col-6 col-md-2">
              <button
                id="basic"
                color="primary"
                mat-flat-button
                [disabled]="!!httpCounterService.pendingRequestsCount"
              >
                Buscar
              </button>
            </div>
            <div class="col-6 col-md-2">
              <button
                id="clean"
                type="button"
                mat-stroked-button
                (click)="onCleanBicos()"
                *ngIf="bicos.length"
              >
                Limpiar búsqueda
              </button>
            </div>
            <div class="col-6 col-md-2" *ngIf="bicos.length">
              <button
                id="orderButton"
                type="button"
                class="no-print"
                mat-stroked-button
                (click)="onOrderBicos()"
              >
                Ordenar resultados
              </button>
            </div>
            <div class="col-6 col-md-2" *ngIf="bicos.length">
              <button
                id="print"
                type="button"
                class="no-print"
                mat-stroked-button
                (click)="onPrint()"
              >
                Imprimir
              </button>
            </div>
            <div class="col-6 col-md-2" *ngIf="bicos.length">
              <button
                id="print"
                type="button"
                class="no-print"
                mat-stroked-button
                (click)="onCsvPrint()"
              >
                Imprimir Csv
              </button>
            </div>
            <!-- <div class="col-6 col-md-2" *ngIf="bicos.length">
              <button
                id="model1"
                type="button"
                class="no-print"
                mat-stroked-button
                (click)="onSaveExcelModel1()"
              >
                Excel Modelo1
              </button>
            </div> -->
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 mt-3" *ngIf="bicos.length">
      <table id="tableResult">
        <tr class="mb-2">
          <th class="font-18">
            <div class="row align-items-center">
              <span class="col-2">DIRECCIÓN</span>
              <span class="col-3">
                Total resultados: {{ this.bicos.length }}
              </span>
            </div>
          </th>
          <th class="font-18">COMPLETADO</th>
        </tr>
        <tr *ngFor="let bico of this.bicos">
          <td>
            <div class="font-18 fill-width">
              {{ bico.bi.ldt }}
            </div>
          </td>
          <td>
            <mat-checkbox color="primary"></mat-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- <div>
                Licencia de uso: <span>{{ bico.bi.debi.luso }}</span>
              </div> -->
<!-- <div *ngFor="let con of this.bico.lcons.cons">
                <div *ngIf="con.dt">
                  <span class="bold-font">{{ con.lcd }}</span> - planta:
                  {{ con.dt.lourb.loint.pt }} - puerta: {{ con.dt.lourb.loint.pu }}
                </div>
              </div> -->

<!-- <div *ngIf="rcdnps.length">
        <div *ngFor="let rcdnp of this.rcdnps">
          {{ rcdnp.dt.locs.lous.lourb.dir }}
        </div>
      </div> -->
