.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 25px;
}

.full-height {
  min-height: 100%;
}

.bold-font {
  font-weight: 500;
}

@media print {
  .no-print {
    display: none !important;
  }
}
